.hidden {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#mainbackground {
  background-color: #66cccc;
  background-image: -moz-linear-gradient(#336666, #66cccc);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66cccc), to(#336666));
  background-image: -o-linear-gradient(#336666, #66cccc);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

h1 {
  text-align: center;
  font-family: "Baloo Paaji", sans-serif;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-family: "Lobster", Arial;
  margin: 0 20px 20px 20px;
}

ul {
  padding: 0;
}

ul li {
  display: inline-block;
  margin: auto;
}

img:hover {
  -moz-box-shadow: 0 0 20px #444;
  -webkit-box-shadow: 0 0 20px #444;
  box-shadow: 0 0 20px #444;
}

li img {
  width: 400px;
  max-height: 400px;
  margin: 5px;
  vertical-align: middle;
  border-radius: 10px;
  border: 5px solid rgb(95,158,160);
}

.centerblock {
  border-radius: 10px;
  width: 1260px;
  margin: 10px auto;
  border: 1px solid white;
  background-color: #66e0ff;
  display: block;
}

header {
  border-radius: 10px;
  width: 1260px;
  margin: 10px auto;
  border: 1px solid white;
  background-color: #66e0ff;
  background-image: -moz-linear-gradient(#ffffff, #66e0ff);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#66e0ff));
  background-image: -o-linear-gradient(#ffffff, #66e0ff);
}

#feedback {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

hr {
  height: 2px;
  background-color: black;
  border: none;
  width: 80%;
}

.charts {
  max-width: calc(100% - 200px);
  max-height: 500px;
  display: block;
  background-color: white;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
}

button {
  font-family: "Lobster", Arial;
  font-size: 24pt;
  background-color: #008CBA;
  color: white;
}

button:hover {
  transition-duration: 0.3s;
  background-color: white;
  color: black;
}

.statbuttons {
  margin: 10px auto;
  text-align: center;
}
